language: node_js
node_js:
  - "9.11.2"
services:
  - postgresql
env:
  global:
    -CC_TEST_REPORTER_ID=2c21212bd01b49eb1c8bc2929951404e53824061cdaca893373da23563baadaf\
  SH=bash

before_script:
  - psql -c "CREATE DATABASE ridemywaytest;" -U postgres
  - psql -U postgres -d ridemywaytest -f ./server/src/config/tests/setup.sql
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - npm test

after_script:
  - npm run coverage
  - psql -U postgres -d ridemywaytest -f ./server/src/config/tests/pulldown.sql
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT